## Q1. What is a database? Differentiate between SQL and NoSQL databases.

A1. A database is a collection of organized and structured data that can be easily accessed, managed, and updated. It can be considered as an electronic filing system that stores data in a manner that enables efficient retrieval and manipulation of data.

SQL (Structured Query Language) and NoSQL (Not only SQL) databases are two main types of databases used in modern computing. Here are some of the key differences between them:

Data Structure: SQL databases are based on a tabular, relational data structure that consists of tables with rows and columns, where each row represents a unique record, and each column represents a data attribute. In contrast, NoSQL databases have a flexible data structure that allows data to be stored in various formats such as document, key-value, column-family, and graph-based data structures.

Schema: SQL databases require a predefined schema, which specifies the data types, field names, and relationships between tables. On the other hand, NoSQL databases do not require a predefined schema and allow data to be added or modified on the fly, without affecting the rest of the data.

Scalability: SQL databases are vertically scalable, meaning they can handle a limited amount of data and require additional hardware resources as the data grows. In contrast, NoSQL databases are horizontally scalable, meaning they can easily handle large amounts of data by adding more servers to the database cluster.

Querying: SQL databases use SQL queries to retrieve data from tables, which are highly structured and organized. In contrast, NoSQL databases use a variety of different query languages and techniques to access data stored in a flexible data model.

Use cases: SQL databases are commonly used in applications that require highly structured, consistent data, such as financial applications and accounting systems. NoSQL databases are commonly used in applications that require high scalability, flexibility, and real-time data processing, such as social media platforms, e-commerce sites, and mobile apps.

In summary, SQL databases are best suited for applications that require highly structured data and complex queries, while NoSQL databases are ideal for applications that require high scalability, performance, and flexibility.

## Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

A2. DDL stands for Data Definition Language and is a subset of SQL that is used to define the structure of a database. It includes statements that create, alter, and delete database objects such as tables, indexes, and constraints.

Here are some of the most common DDL statements and their uses:

CREATE: The CREATE statement is used to create new database objects, such as tables, views, indexes, and procedures. For example, the following statement creates a new table called "customers" with columns for customer ID, name, and email:

In [ ]:
CREATE TABLE customers (

    id INT PRIMARY KEY,
    
    name VARCHAR(50),
    
    email VARCHAR(50)
    
);

DROP: The DROP statement is used to delete existing database objects, such as tables, views, indexes, and procedures. For example, the following statement drops the "customers" table:

In [ ]:
DROP TABLE customers;

ALTER: The ALTER statement is used to modify the structure of existing database objects, such as tables, views, and procedures. For example, the following statement adds a new column called "phone" to the "customers" table:

In [ ]:
ALTER TABLE customers

ADD phone VARCHAR(20);

TRUNCATE: The TRUNCATE statement is used to delete all data from a table while keeping its structure intact. For example, the following statement removes all data from the "customers" table:

In [ ]:
TRUNCATE TABLE customers;

Overall, DDL statements are used to define the structure of a database and to modify or remove that structure as needed. They are essential for managing the schema and objects of a database, and for ensuring that data is stored and retrieved correctly.

## Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML stands for Data Manipulation Language and is a subset of SQL used to manipulate data within a database. It includes statements such as INSERT, UPDATE, and DELETE, which are used to add, modify, and remove data from a database.

Here are some of the most common DML statements and their uses:

INSERT: The INSERT statement is used to add new data to a database table. For example, the following statement adds a new record to the "customers" table:

In [ ]:
INSERT INTO customers (id, name, email)
VALUES (1, 'John Doe', 'johndoe@example.com');

UPDATE: The UPDATE statement is used to modify existing data in a database table. For example, the following statement updates the email address for the customer with ID 1 in the "customers" table:

In [ ]:
UPDATE customers
SET email = 'johndoe@newexample.com'
WHERE id = 1;

DELETE: The DELETE statement is used to remove data from a database table. For example, the following statement removes the customer with ID 1 from the "customers" table:

In [ ]:
DELETE FROM customers
WHERE id = 1;

## Q4. What is DQL? Explain SELECT with an example.

A4. DQL stands for Data Query Language and is a subset of SQL used to retrieve data from a database. It includes statements such as SELECT, which is used to specify the columns and rows to be retrieved from a table.

Here's an example of how the SELECT statement works:

Suppose we have a table called "employees" with columns for ID, name, department, and salary. To retrieve data from this table, we would use a SELECT statement:

In [ ]:
SELECT name, salary
FROM employees
WHERE department = 'IT';

This statement selects the "name" and "salary" columns from the "employees" table, but only for employees in the "IT" department. The results would be a table that contains only the name and salary information for those employees.

In the SELECT statement, we first specify the columns we want to retrieve, separated by commas. In this case, we want to retrieve the "name" and "salary" columns. We then specify the table we want to retrieve data from, in this case, "employees". Finally, we add a WHERE clause to filter the results based on certain conditions. In this case, we only want data for employees in the "IT" department.

Overall, the SELECT statement is a powerful tool for retrieving data from a database and allows for a great deal of flexibility in specifying the data to be retrieved.

## Q5. Explain Primary Key and Foreign Key.

A5. In a relational database, a primary key is a unique identifier for each row in a table, while a foreign key is a column or set of columns in one table that refers to the primary key of another table.

Here's a more detailed explanation of each:

Primary Key: A primary key is a column or set of columns in a table that uniquely identifies each row in the table. It is used to enforce the integrity and consistency of the data in the table, and to ensure that each row can be accessed and modified accurately. The primary key is usually created when the table is created and is often an integer value that is automatically generated by the database management system. For example, in a table of employees, the primary key might be the "employee ID" column, which would contain a unique identifier for each employee.

Foreign Key: A foreign key is a column or set of columns in one table that refers to the primary key of another table. It is used to establish relationships between tables and to enforce referential integrity, which means that data in one table must match data in another table. For example, in a table of orders, there might be a "customer ID" column that refers to the "customer ID" column in a table of customers. This ensures that each order is associated with a valid customer.

Overall, primary keys and foreign keys are essential for creating relationships between tables in a relational database and for ensuring that the data in the tables is consistent and accurate. They are important concepts in database design and are used extensively in SQL to create, modify, and query data.

## Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establishing a connection to MySQL database
mydb = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="mydatabase"
)

# Creating a cursor object
mycursor = mydb.cursor()

# Executing SQL queries
mycursor.execute("SELECT * FROM customers")

# Fetching the result
result = mycursor.fetchall()

# Printing the result
for row in result:
    print(row)

In this example code, we are importing the mysql.connector module to establish a connection with the MySQL database. We then pass the host, username, password, and database name to the connect() method to connect to the database.

After connecting to the database, we create a cursor object using the cursor() method. The cursor object is used to execute SQL queries and to fetch the results.

The execute() method is used to execute an SQL query. It takes a single argument, which is the SQL query to be executed. In this example, we are executing a simple SELECT query to retrieve all rows from the customers table.

The fetchall() method is used to retrieve all the rows from the query result. It returns a list of tuples, where each tuple represents a row from the result.

Finally, we loop through the result set and print each row using a for loop.

Overall, the cursor() and execute() methods are essential for executing SQL queries in Python and fetching the results from the database.

## Q7. Give the order of execution of SQL clauses in an SQL query.

The order of execution of SQL clauses in an SQL query is as follows:

FROM: This clause specifies the tables or views from which data is to be retrieved.

WHERE: This clause is used to filter data based on certain conditions. It specifies the criteria that must be met for a row to be included in the result set.

GROUP BY: This clause is used to group rows based on one or more columns. It is typically used with aggregate functions, such as SUM or COUNT, to calculate summary information for each group.

HAVING: This clause is used to filter groups based on certain conditions. It specifies the criteria that must be met for a group to be included in the result set.

SELECT: This clause specifies the columns to be retrieved from the table. It can also include expressions and calculations that are performed on the retrieved columns.

ORDER BY: This clause is used to sort the rows in the result set based on one or more columns. It can be used to sort the rows in ascending or descending order.

LIMIT: This clause is used to limit the number of rows returned by the query. It is typically used in combination with the ORDER BY clause to retrieve a specific subset of the result set.

Overall, understanding the order of execution of SQL clauses is important for writing efficient and effective queries that retrieve the desired data from a database.