##  Q1 Write a program to accept percentage from the user and display the grade accordingly to the following criteria:
### ANS

In [5]:
marks = float(input("Enter your Percentage..."))
if marks > 90:
    print("Grade : A")
elif marks >80 and marks<=90:
    print("Grade : B")
elif marks>=60 and marks<=80:
    print("Grade : C")
elif marks<60:
    print("Grade : D")

Enter your Percentage... 56

Grade : D

## Q2 Write a program to accept the cost price of a bike and display the road tax to be paid according to the following criteria:
### ANS

In [9]:
bike_price = float(input("Enter a Bike Price.....: "))
if bike_price > 100000:
    print("Tax to be paid : 15%")
elif bike_price >50000 and bike_price<=100000:
    print("Tax to be paid : 10%")
elif bike_price <=50000:
    print("Tax to be paid : 5%")

Enter a Bike Price.....:  1000000

Tax to be paid : 15%

## Q3 Accept any city from the user and display monuments of that city.
### ANS

In [13]:
city_name = input("Enter city Name : ").lower()
if city_name == 'delhi':
    print(f"{city_name} - Red Fort")
elif city_name == 'agra':
    print(f"{city_name} - Taj Mahal")
elif city_name == 'jaipur':
    print(f"{city_name} - Jal Mahal")
else:
    print("Invalid Entry")

Enter city Name :  vadodara

Invalid Entry

## Q4 Check how many times a given number can be divided by 3 before it is less than or equal to 10.
### ANS

In [15]:
num = 100
count = 0

while num > 10:
    num = num // 3
    count += 1

print(count)

3

## Q5 Why and when to use while loop in Python give a detailed description with example.
### ANS

A while loop is a type of loop in Python that repeatedly executes a block of code as long as a certain condition is true. The while loop is useful when you need to repeat a task until a certain condition is met, and you don't know ahead of time how many times the loop will need to run. Here's an example:

In [16]:
sum = 0
num = 1

while sum <= 100:
    sum += num
    num += 1

print("The sum is", sum)

The sum is 105

## Q6 Use nested while loop to print 3 different pattern
### ANS

In [17]:
# Pattern 1

i = 1

while i <= 5:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i += 1

*
**
***
****
*****

In [18]:
# Pattern 2

i = 5

while i >= 1:
    j = 1
    while j <= i:
        print("*", end="")
        j += 1
    print()
    i -= 1

*****
****
***
**
*

In [19]:
# Pattern 3

i = 1

while i <= 5:
    j = 1
    while j <= i:
        print(j, end="")
        j += 1
    print()
    i += 1

1
12
123
1234
12345

## Q7 Reverse a while loop to display numbers from 10 to 1
### ANS

In [21]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1

## Q7 Reverse a while loop to display numbers from 10 to 1
### ANS

In [22]:
num = 10

while num >= 1:
    print(num)
    num -= 1

10
9
8
7
6
5
4
3
2
1